@model OnlineQuiz.Models.QuizQuestions

@{
    ViewBag.Title = "Quiz";
}
<link href="~/Styles/styles.css" rel="stylesheet" />
<h2>Quiz</h2>
<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="col-xs-4 col-sm-4 col-md-4 divborder">
        @using (Html.BeginForm("Index", "Quiz", FormMethod.Post, new { id = "Quizform", name = "Quizform" }))
        {
            <div>
                @Html.Label("Select Quiz type")

                @*@Html.DropDownListFor(model => model.QuizList, Model.QuizList, "Select Quiz", new { @class = "form-control LoadQuestion" })*@

                @*@Html.DropDownListFor(m => m.QuizList,
                    new SelectList(Model.QuizList, "Value", "Text"),
                    "Select Quiz",
                    new { @class = "form-control LoadQuestion", @onchange = "FillCity()" })*@



                @Html.DropDownList("QuizId", Model.QuizList, "All Questions", new { @class = "form-control LoadQuestion" })
                <br />
                <h1>Quiz Instructions</h1>
                <p>Quizzes include both Multiple choice questions and Fill in the blanks. Enjoy the quiz</p>
            </div>
        }
    </div>

    <h1 id="QuizHeading">Welcome to Online Quiz Portal</h1>
    <div class="col-xs-8 col-sm-8 col-md-8 allquestions">
        @if (ViewBag.AllQuestions != null && ViewBag.AllQuestions.Count > 0)
        {
            <table style="width:100%">

                @{int i = 1;}
                @foreach (var item in ViewBag.AllQuestions)
                {
                    var divstyle = "";
                    if (i % 2 != 0)
                    {
                        divstyle = "trquiz";
                    }
                    else
                    {
                        divstyle = "trquizalternate";
                    }
                    if (item.IsMultipleChoice)
                    {
                        <tr class="@divstyle">
                            <td class="quiztdspacing">
                              @i.  @item.Question
                                <div class="col-sm-12 col-md-12">
                                    @if (item.Option1 == item.CorrectAnswer)
                {
                                        @*<td style="width:30%"><div style="font-weight:bold">@option</div></td>*@
                                        @*<li><span>&#10003; @option</span></li>*@
                                            <input type="radio" name="option_@item.QuestionId" class="radclass" iscorrect="true" value="@item.Option1"> @item.Option1<br>
                                    }
                                    else
                                    {
                                        @*<td style="width:30%"><div>@option</div></td>*@
                                            <input type="radio" name="option_@item.QuestionId" class="radclass" iscorrect="false" value="@item.Option1"> @item.Option1<br>
                                    }
                                    @if (item.Option2 == item.CorrectAnswer)
                                    {
                                        @*<td style="width:30%"><div style="font-weight:bold">@option</div></td>*@
                                        @*<li><span>&#10003; @option</span></li>*@
                                            <input type="radio" name="option_@item.QuestionId" class="radclass" iscorrect="true" value="@item.Option2"> @item.Option2<br>
                                    }
                                    else
                                    {
                                        @*<td style="width:30%"><div>@option</div></td>*@
                                            <input type="radio" name="option_@item.QuestionId" class="radclass" iscorrect="false" value="@item.Option2"> @item.Option2<br>
                                    }
                                    @if (item.Option3 == item.CorrectAnswer)
                                    {
                                        @*<td style="width:30%"><div style="font-weight:bold">@option</div></td>*@
                                        @*<li><span>&#10003; @option</span></li>*@
                                            <input type="radio" name="option_@item.QuestionId" class="radclass" iscorrect="true" value="@item.Option3"> @item.Option3<br>
                                    }
                                    else
                                    {
                                        @*<td style="width:30%"><div>@option</div></td>*@
                                            <input type="radio" name="option_@item.QuestionId" class="radclass" iscorrect="false" value="@item.Option3"> @item.Option3<br>
                                    }
                                    @if (item.Option4 == item.CorrectAnswer)
                                    {
                                        @*<td style="width:30%"><div style="font-weight:bold">@option</div></td>*@
                                        @*<li><span>&#10003; @option</span></li>*@
                                            <input type="radio" name="option_@item.QuestionId" class="radclass" iscorrect="true" value="@item.Option4"> @item.Option4<br>
                                    }
                                    else
                                    {
                                        @*<td style="width:30%"><div>@option</div></td>*@
                                            <input type="radio" name="option_@item.QuestionId" class="radclass" iscorrect="false" value="@item.Option4"> @item.Option4<br>
                                    }
                                </div>
                            </td>

                        </tr>
                    }
                    else
                    {

                        <tr class="@divstyle">
                            <td class="quiztdspacing" >
                                <div>
                                   @i. @item.Question
                                </div>
                                <div style="padding-left:20px">
                                    <input type="text" name="answer" correctanswer="@item.CorrectAnswer" />
                                </div>
                            </td>
                        </tr>
                    }
                    i++;
                }

            </table>
                    }
                    else
                    {
                        <div id="noquestionsmsg"><span>There are no questions added to the selected quiz. Please select different Quiz...</span></div>
                    }
    </div>

</div>
<div class="col-xs-12 col-sm-12 col-md-12 ">
    @if (ViewBag.AllQuestions != null && ViewBag.AllQuestions.Count > 0)
    {
        <div class="col-xs-4 col-sm-4 col-md-4 divspace text-center">
            @if (ViewBag.AllQuestions != null && ViewBag.AllQuestions.Count > 0)
            {
                <input type="button" class="btn btn-success" value="Submit Result" id="quiz_submit" />
            }
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 resultdiv"><span id="lbl_result"></span></div>
    }
    else
    {

    }

</div>

@section Scripts{
    @Scripts.Render("~/bundles/validate")
}
