@model OnlineQuiz.tbl_Users

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if(@ViewBag.Message != null)
    {
        <div style="border:1px solid">
            @ViewBag.Message
        </div>
    }
    <table><tr>
    <td>
        @Html.LabelFor(a => a.UserName)
    </td>
    <td>@Html.TextBoxFor(a => a.UserName)</td>
        <td>@Html.ValidationMessageFor(a=>a.UserName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a=> a.Password)</td>
        <td>@Html.PasswordFor(a=>a.Password)</td>
        <td>@Html.ValidationMessageFor(a=>a.Password)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" name="name" value="Login" />
        </td>
        <td></td>
    </tr>
    </table>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }